[submodule "src/radio/lr1110/lr1110_driver"]
	path = src/radio/lr1110/lr1110_driver
	url = https://github.com/Lora-net/lr1110_driver.git
[submodule "src/peripherals/atecc608a-tnglora-se/cryptoauthlib"]
	path = src/peripherals/atecc608a-tnglora-se/cryptoauthlib
	url = https://github.com/MicrochipTech/cryptoauthlib
